{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %} 
    {% block content %}
    
    <div class="container">
        <!--Card-->
        <div class="card">
            <div class="row">
                <div class="card-block">     
                    <div class="col-md-12">
                    <h3 class="card-title">Meine Rohstoffe</h3>
                    </div>
                    {% for resource in user.getUserResources %}
                    <div class="col-md-4">
                        <!--Card Success-->
                        <div style="background-color: {{ resource.getResource.getColour }}" class="card text-xs-center z-depth-2">
                            <div style="color:#fff" class="card-block">
                                <h2>{{ resource.getResource.getName_DE }}</h2>                             
                                <p style="font-size:40px; color:{{resource.getResource.getIconColour }}">{{ resource.getAmount }} X <i  class="fa {{ resource.getResource.getIcon }}"></i></p>
                            </div>
                        </div>
                        <!--/.Card Success-->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
   <!--/.Mask-->
    {% endblock content %}

