{% extends "Neo4jUserBundle:Registration:register.html.twig" %}
{% block title %}Registration{% endblock %} 
{% block neo4j_user_content %}
        <!--Mask-->
        <!--Mask-->
<div class="container"> 
    <div class="row flex-center">
        <div class="col-md-4">
        {% if success is defined %}
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
        {% else %}
            {% if error is not null %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
            {% endif %}
                <h3>Reset Password</h3>
                <br><br>
                    {{ form_start(form, {'method': 'post', 'action': path('neo4j_password_reset')}) }}
                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        {{ form_widget(form.email, { 'attr': {'class': "form-control validate", 'id': "formemail"} }) }}
                        <label for="password_reset_email" data-error="wrong" data-success="right">Type your email</label>
                    </div>
                    <div>
                        <input class="btn btn-info-outline waves-effect btn-block" type="submit" id="_submit" name="_submit" value="Reset" />
                    </div>
                    {{ form_end(form) }}

        {% endif %}
        </div>
        </div>
    </div>
{% endblock neo4j_user_content %}

